/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */
 @import "bootstrap";
 

 body{
    background-color:#E4E6E6;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
 }

 hr{
    background-color:#4F5D75;
     width:90%;
     height: 1px;
     border: 0 none;
 }

.post-intro{
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 0.75rem;
    color: #2D3142;
    .tag{
        letter-spacing: 2px;
        color: #2D3142;
        font-size: 0.9rem;
    }

    .title{
        font-size: 1.15rem; 
        .name{
            font-weight:bold;
        }
        .artist{
            color: #707070;
        }
    }

    .description{
    }
    .a{
        color: blue;
    }
}

