<%= stylesheet_link_tag "navbar" %>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand d-flex" href="<%= root_path %>">
            <span class='highlight'>好歌兒</span>
            <span class='plaintext'>們</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <div class="nav-item">
                    <a class="nav-link" href="<%= root_path %>">首頁</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="#">我要分享(x)</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="#">本週好歌(x)</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="<%= articles_path %>">全部歌曲</a>
                </div>
            </div>
        </div>
</nav>