<%= stylesheet_link_tag "navbar" %>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">好歌兒們</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <div class="nav-item">
                    <a class="nav-link" href="#">首頁(x)</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="#">我要分享(x)</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="#">本週好歌(x)</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="#">全部歌曲(x)</a>
                </div>
            </div>
        </div>
</nav>